In [1]:
# Import Packages

# Array and Dataframe processing:
import pandas as pd
import numpy as np

# Visualization:
import seaborn as sns
sns.set_style("darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff

# Model Implementation 
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
# from sklearn.linear_model import SGDCClassifier

#  Metrics 
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

# For scaling and preprocessing:  StandardScaler, MinMaxScaler and MaxAbsScaler.
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, LabelEncoder

# For Model Training and Testing:
from sklearn.model_selection import train_test_split

# make sure we have the package installed
!pip install mysql-connector-python

## importing 'mysql.connector' 
import mysql.connector

Requirement already satisfied: mysql-connector-python in /Users/raphaelkrantz/opt/anaconda3/lib/python3.7/site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in /Users/raphaelkrantz/opt/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: six>=1.9 in /Users/raphaelkrantz/opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)
Requirement already satisfied: setuptools in /Users/raphaelkrantz/opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (46.0.0.post20200309)

In [2]:
import config

In [6]:
## Connecting to the database

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
conn = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.password
    db = "Saje_Store_One"
)

print(conn) # it will print a connection object if everything is fine

SyntaxError: invalid syntax (<ipython-input-6-d8ffd7ba4977>, line 9)

In [4]:
cur = conn.cursor()

### Create Table- Item_Details

In [5]:
cur.execute("""
Create table item_details
(
Item Id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
Order # INT,
Sent Date DATE,
Order Date DATE,
Check Id INT,
Server VARCHAR (20),
Table INT,
Dining Area VARCHAR (20),
Service VARCHAR (20),
Dining Option VARCHAR (20),
Item Selection Id INT,
Item Id INT,
Master Id INT,
Menu Item VARCHAR (20),
Menu Subgroups VARCHAR (20),
Menu Group VARCHAR (20),
Menu VARCHAR (20),
Sales Category VARCHAR (20),
Gross Price FLOAT,
Discount FLOAT,
Net Price FLOAT,
Qty INT,
Sales Total FLOAT,
Tax FLOAT,
Void? BOOL,
Deferred BOOL,
Tax Exempt BOOL,
Tax Inclusion Option VARCHAR (20),
Dining Option Tax VARCHAR (20),
Tab Name 
)

""")

ProgrammingError: 1046 (3D000): No database selected

In [9]:
df = pd.read_csv("Data/Menu/Item_Detail/Dummy_Item_Details_10_2019.csv", encoding = "utf-8")
df.head()

,Order Id,Order #,Sent Date,Order Date,Check Id,Server,Table,Dining Area,Service,Dining Option,...,Net Price,Qty,Sales Total,Tax,Void?,Deferred,Tax Exempt,Tax Inclusion Option,Dining Option Tax,Tab Name
0,5.000000e+17,1,10/1/19 8:03,10/1/19 8:03,5.000000e+17,Alfredo Vargas,NaN,NaN,NaN,Dine In,...,4.63,1.0,4.63,0.37,False,False,False,Tax Included,No Effect,NaN
1,5.000000e+17,2,10/1/19 8:20,10/1/19 8:20,5.000000e+17,Alfredo Vargas,NaN,NaN,NaN,Dine In,...,4.16,1.0,4.16,0.34,False,False,False,Tax Included,No Effect,NaN
2,5.000000e+17,3,10/1/19 8:29,10/1/19 8:29,5.000000e+17,Alfredo Vargas,NaN,NaN,NaN,Dine In,...,4.63,1.0,4.63,0.37,False,False,False,Tax Included,No Effect,NaN
3,5.000000e+17,4,10/1/19 8:46,10/1/19 8:46,5.000000e+17,Alfredo Vargas,NaN,NaN,NaN,Dine In,...,4.63,1.0,4.63,0.37,False,False,False,Tax Included,No Effect,NaN
4,5.000000e+17,5,10/1/19 8:47,10/1/19 8:47,5.000000e+17,Alfredo Vargas,NaN,NaN,NaN,Dine In,...,2.78,1.0,2.78,0.22,False,False,False,Tax Included,No Effect,NaN

In [30]:
columns = ['Order Id', 'Order #', 'Sent Date', 'Order Date', 'Check Id', 'Server',
       'Table', 'Dining Area', 'Service', 'Dining Option', 'Item Selection Id',
       'Item Id', 'Master Id', 'SKU', 'PLU', 'Menu Item', 'Menu Subgroup(s)',
       'Menu Group', 'Menu', 'Sales Category', 'Gross Price', 'Discount',
       'Net Price', 'Qty', 'Sales Total', 'Tax', 'Void?', 'Deferred',
       'Tax Exempt', 'Tax Inclusion Option', 'Dining Option Tax', 'Tab Name']

In [34]:
for col in columns:
    if col.startswith("'"):
        col = string[1:]

    if col.endswith("'"):
        col = string[:-1]

In [35]:
columns

['Order Id',
 'Order #',
 'Sent Date',
 'Order Date',
 'Check Id',
 'Server',
 'Table',
 'Dining Area',
 'Service',
 'Dining Option',
 'Item Selection Id',
 'Item Id',
 'Master Id',
 'SKU',
 'PLU',
 'Menu Item',
 'Menu Subgroup(s)',
 'Menu Group',
 'Menu',
 'Sales Category',
 'Gross Price',
 'Discount',
 'Net Price',
 'Qty',
 'Sales Total',
 'Tax',
 'Void?',
 'Deferred',
 'Tax Exempt',
 'Tax Inclusion Option',
 'Dining Option Tax',
 'Tab Name']